<div class="home-header-wrapper mb-5">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a [routerLink]="['/home']">
          <img
            src="../../assets/img/groupomania-logo-inverse.png"
            height="50"
          />
        </a>
      </div>
      <div class="col-8">&nbsp;</div>
      <div class="col-2 text-center">
        <div class="user-section" (click)="logout()">
          {{ currentUser.name }} - {{ currentUser.role }}
          <i class="fa-solid fa-power-off"></i>
        </div>
      </div>
    </div>
  </div>
</div>
