<div class="home-userinfo-wrapper">
  <div class="userinfo-box bg-white shadow-sm text-center">
    <div class="userinfo-photo-bloc pt-4">
      <div class="row">
        <div class="col">
          <div class="userphoto pb-4">
            <img
              src="../../assets/public/uploads/user1.jpg"
              class="rounded-circle"
              height="100"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="userinfo-data pt-3 pb-3">
      <div class="row">
        <div class="col pt-3">
          <div class="username">Meidi Airouche</div>
        </div>
      </div>
      <div class="row">
        <div class="col pt-4">
          <div class="category-label">Posts</div>
          <div class="category-count">50</div>
        </div>
      </div>

      <div class="row">
        <div class="col pt-3">
          <div class="category-label">Likes</div>
          <div class="category-count">50</div>
        </div>
      </div>
      <div class="row">
        <div class="col pt-3">
          <div class="category-label">Commentaires</div>
          <div class="category-count">50</div>
        </div>
      </div>
    </div>
  </div>
</div>
