<div class="post-form-wrapper">
  <div class="post-form-box bg-white shadow-sm">
    <div class="post-form-content p-3">
      <form
        [formGroup]="postForm"
        (ngSubmit)="onSubmit()"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="postContent">Nouveau post :</label>
          <textarea
            class="form-control"
            id="postContent"
            rows="3"
            formControlName="postContent"
            required
          ></textarea>
        </div>
        <div class="form-group pt-3 pb-3">
          <input
            type="file"
            class="form-control-file"
            id="postImage"
            formControlName="postImage"
            accept=".png, .jpg, .jpeg, .gif"
            (change)="onFileChange($event)"
            required
          />
        </div>
        <div
          *ngIf="
            ((postForm.controls['postContent'].touched || submitted) &&
              postForm.controls['postContent'].errors?.required) ||
            ((postForm.controls['postImage'].touched || submitted) &&
              postForm.controls['postImage'].errors?.required)
          "
          class="alert alert-danger"
        >
          Tous les champs sont obligatoires
        </div>
        <div class="form-button text-end pt-3">
          <button type="submit" class="btn btn-groupomania">Créer</button>
        </div>
      </form>
    </div>
  </div>
</div>
