<div class="post-wrapper pt-3">
  <div class="post-card bg-white shadow-sm p-3">
    <div class="row">
      <div class="col">
        <div class="post-author pb-3">
          <span class="author">Meidi Airouche</span>
          <span class="date"> - le 1er Juin 2022 à 16h30</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="post-cover pb-3">
          <img src="../../assets/public/uploads/post1.png" class="img-fluid" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="post-message">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="post-likes-and-comments text-end">
          <i class="fa-solid fa-heart"></i> 5 &nbsp;
          <i class="fa-solid fa-comment"></i> 10
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="post-comment">
          <app-comment></app-comment>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="post-comment">
          <app-comment></app-comment>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="post-comment-form">
          <app-comment-form></app-comment-form>
        </div>
      </div>
    </div>
  </div>
</div>
