.author {
  font-size: 14px;
  font-weight: 500;
}

.date {
  font-size: 12px;
}

.post-icon {
  color: #686868;
}

.likes-and-comment-icons {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.post-comment-form {
  border-top: 1px solid #eeeeee;
}

.clickable {
  cursor: pointer;
}

.liked {
  color: #e75348;
}
