<div class="home-members-wrapper">
  <div class="home-members-card bg-white shadow-sm">
    <div class="row">
      <div class="col">
        <div class="title">Nos membres</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="member">
          <i class="fa-solid fa-user-lock"></i> Sylvain Airouche -
          <span class="role">Admin</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="member">
          <i class="fa-solid fa-user"></i> Jessica Alba -
          <span class="role">User</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="member">
          <i class="fa-solid fa-user"></i> Amber Heard -
          <span class="role">User</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="member">
          <i class="fa-solid fa-user"></i> Scarlett Johansson -
          <span class="role">User</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="member">
          <i class="fa-solid fa-user"></i> Emilia Clarck -
          <span class="role">User</span>
        </div>
      </div>
    </div>
  </div>
</div>
