<div class="comment-wrapper">
  <div class="row">
    <div class="col">
      <div class="comment-author-date">
        <span class="comment-author">{{ comment.authorName }} - </span>
        <span class="comment-date" *ngIf="!isCommentToday()">{{
          comment.creationDate | date: "le dd/MM/YYYY à HH:mm"
        }}</span>
        <span class="comment-date" *ngIf="isCommentToday()"
          >aujourd'hui {{ comment.creationDate | date: " à HH:mm" }}</span
        >
      </div>
      <div class="comment">{{ comment.content }}</div>
    </div>
  </div>
</div>
